@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');

*{
	font-family: 'Sunflower', 'Righteous', 'Do Hyeon', sans-serif;
	border:0;
	padding:0;
	margin:0;
	text-align:center;
	background:none;
}
*:focus {outline:0;}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #333;
  
}

body{
	background-color:#f1f3f3;
}
header{
	background-color:#fe6f5e;
	height:130px;
	border-bottom: 1px solid #e1e1ea;
	margin-bottom: 15px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
.logo{
	height:100%;
	width:100%;
	font-size:69.25px;
	font-weight:600;
	padding-top:20px;
	vertical-align: middle;
	box-sizing :border-box;
}
.Search{
	position: absolute;
	width:924px;
	height:70px;
	background-color:#fe6f5e;
	border: 1px solid #e1e1ea;
}
.Search > input{
	width:70%;
	height:80%;
	position:absolute;
	top:10%;
	left:5%;
	font-size:2em;
	text-align:left;
}
.icon_search_btn{
	position:absolute;
	width:40px;
	height:40px;
	right:2%;
	top:50%;
	transform:translate(0,-50%);
	background-image:url("/resources/icon/magnifying-glass.png");
	background-size:40px;
}
.user_sub{
	position: absolute;
	top:0;
	right:0;
	width:461px;
	min-height:473px;
	background-color:white;
	border: 1px solid #e1e1ea;
}
footer{
	background-color:white;
	height:250px;
	border-top: 1px solid #e1e1ea;
}
@media screen and (min-width: 1600px) {
header{
	width:100%;
}
.base_{
	position:relative;
	width:1400px;
	min-height:600px;
	left:50%;
	transform: translate(-50%);
	margin-bottom: 15px;
}
footer{
	width:100%;
}
}

@media screen and (max-width: 1598px) {
header{
	width:1598px;
}
.base_{
	min-height:600px;
	position:relative;
	width:1400px;
	left:99px;
	margin-bottom: 15px;
}
footer{
	width:1598px;
}
}


.notice{
	height:15%;
	width:100%;
	border-bottom: 1px solid #e1e1ea;
}
.external_link{
	height:30%;
	width:100%;
	border-bottom: 1px solid #e1e1ea;
	font-size:25px;
}
.external_link a > img{
	padding:7px 15px 0 15px;
	box-sizing :content-box;
}
.info{
	height:55%;
	width:100%;
	padding:0 auto 0 auto;
}
.ScrollUpButton{
	position:fixed;
	bottom: 3vw;
	right: 3vw;
}
.circle_btn{
	height:60px;
	width:60px;
	background-color:white;
	border-bottom: 1px solid #e1e1ea;
	border-radius: 30px;
	opacity:0.5;
	font-size:2.5em;
	box-shadow: 0 0 5px 5px rgba(60,64,66,0.2);
}
.square_btn{
	height:60px;
	width:60px;
	background-color:#333;
	color:#777;
	text-shadow: 0 0 5px black;
	transition:color 0.3s,box-shadow 0.3s;
	border-radius: 5px;
	font-size:1.2em;
	box-shadow: 0 0 5px 5px rgba(60,64,66,0.2);
}
.square_btn:hover{
	color:#444;
	box-shadow: 0 0 25px 5px rgba(254,111,94,0.7);
	transition:color 0.3s,box-shadow 0.3s;
	
}
.square_btn:after{
	display:none;
	z-index:10;
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	border-radius:5px;
	box-shadow: 0 0 25px 5px rgba(0,0,0,0.7) inset;
	
}
.basic_button {
    margin: 0 15px 15px 15px;
    height: 35px;
    width: 120px;
    border-radius: 18px;
    background-color: white;
    border: 4px solid #fe6f5e;
    box-shadow: 0 0 25px 5px rgba(60,64,66,0.05);
}
.basic_input{
	width: 90%;
    height: 36px;
    border: 1px solid #e1e1ea;
    border-radius: 3px;
    margin: 15px 0 15px 0;
    box-shadow: 0 0 25px 5px rgba(60,64,66,0.05);
}
.basic_input:focus, .focus{
	border: 1px solid rgba(254,111,94,0.4);
    box-shadow: 0 0 25px 5px rgba(254,111,94,0.3);
}
.calendar {
	position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    background-color:white;
    border-radius:1em;
    box-shadow: 0 0 25px 5px rgba(60,64,66,0.05);
    overflow:hidden;
    display: inline-table;
    z-index:1;
}
.calendar * {
    text-align: center;
    color:#99a1a7;
    font-family: 'Righteous', 'Do Hyeon', sans-serif;
}
.calendar td {
    border: 1px solid rgba(166, 168, 179, 0.12);
}
.calendar td:not(.none):hover {
    background-color: #e1e1ea;
    cursor:pointer;
}
.calendar th {
    height: 1em;
    font-size: 1.8em;
}
.calendar .none{
	color:rgba(152, 160, 166, 0.6);
	background-image: url("/resources/disabled_pattern.svg");
}
.calendar tr:not(:nth-child(1)) td:nth-child(1):not(.none) {
    color: #f8254e;
}
.calendar tr:not(:nth-child(1)) td:nth-child(7):not(.none) {
    color: #4786ff;
}
.calendar td {
   	text-align: right;
    vertical-align: top;
}
.C_side{
	background:#eee;
	position: absolute;
	border-radius:0 1em 1em 0;
    box-shadow: 0 0 25px 5px rgba(60,64,66,0.05);
    z-index:0;
    transition: left 2s;
    overflow-y:auto;
}
table.calendar .job{
	height:1em;
	width:100%;
}
.popup{
	font-family: 'Sunflower', 'Righteous', 'Do Hyeon', sans-serif;
	padding:10px;
	margin:0;
	min-width:200px;
	min-height:100px;
	z-index:999;
	background: #eee;
    border-radius: 7px;
    border: 1px solid #ddd;
    font-size:1em;
    color: #000;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.popup:after{
	content:" ";
	position:absolute;
	width:0;
	height:0;
	border:20px solid;
	border-color:inherit;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	transform:rotate(45deg);
	z-index:-10;
	left:40px;
	top:-21px;
}
.popup_back{
	position:fixed;
	width:100%;
	height:100%;
	z-index:500;
	left:0;
	top:0;
	background:black;
	opacity:0;
}
.C_side{
	transform:translate(-95%);
	transition:transform 1s;
}
.C_side:hover{
	transform:translate(-5%);
	transition:transform 1s;
}
.C_side table{
	position:absolute;
	left: 5%;
	width:95%;
	height:100%;
}
.C_side tr+tr{
	border-top: 1px solid #ddd;
	width:100%;
}
.C_side tr:nth-Child(1){
	height:10%;
	font-size:2em;
	line-height:100%;
}
.C_side tr:nth-Child(1) td{
	width:10%;
	text-align:end;
}
.C_side tr:nth-Child(1) button{
	width: 25%
}
.C_side tr:nth-Child(2){
	height:62%;
	overflow-y:scroll;
}
.C_side tr:nth-Child(3){
	height:28%;
}


.popup input , .C_side input{
	border: 1px solid #ccc;
    border-radius: 0.1em;
    background: white;
}
.C_side input{
	width:75%;
}
.C_side label{
	width:25%;
}