@charset "UTF-8";
.board{
	width:924px;
}
.ck-editor__editable_inline {
    min-height: 800px;
    text-align:center;
}
.ck-editor__editable_inline * {
    margin:auto;
}
.ck-editor__editable_inline[contenteditable=false] p:first-child{
	text-align: left;
    padding-bottom: 12.6px;
    border-bottom: 1px solid #bbb;
    margin-bottom:25px;
}
.title_area{
	margin-bottom: 15px;
    min-height: 50px;
    text-align: left;
    background-color:white;
	border: 1px solid #e1e1ea;
	width:100%;
}
.title_area:focus{
	box-shadow: 0 0 25px 5px rgba(254,111,94,0.3);
	border: 1px solid rgba(254,111,94,0.4);
}
.tag_form, .tag_form *{
	text-align:left;
	margin-right:5px
}
.tag_form *:not(input):not(button){
	padding:5px;
}
.tag_form{
	width: 90%;
    min-height: 36px;
    border: 1px solid #e1e1ea;
    border-radius: 3px;
    margin: 30px 0 15px 0;
    box-shadow: 0 0 25px 5px rgba(60,64,66,0.05);
	word-wrap: break-word;
	padding:3px 8px 3px 8px;
	margin-left:5%;
	line-height:29px;
}
.placeholder{
	position:absolute;
	left:50%;
	margin:0;
	transform:translate(-50%);
	color:#757575;
}
.tag_form input{
	width:40%;
}
.tag_element{
	background-color:rgba(15,15,15,0.1);
	vertical-align:bottom;
}
.deleteBtn{
	position:relative;
	top:1px;
	left:1px;
	font-weight:600;
	font-size:18px;
	line-height:18px;
	margin:0;
	padding:0;
}
.likeBtn{
	width:40px;
	height:40px;
	margin-right:10px;
}
.likeBtn:hover:not(:active), .reEditBtn:hover:not(:active){
	border-radius:0.5em;
	border:3px solid skyblue;
}
.likeBtn:active, .reEditBtn:active{
	border-radius:0.5em;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2) inset;
}
.reEditBtn{
	width: 2em;
    height: 2em;
    margin: 10px;
    font-size: 3em;
}