@charset "UTF-8";
.list_TYPE1{
	width:100%;
}
.list_TYPE1 tr:first-child td{
	border-bottom: 1px solid #e1e1ea;
}
.list_TYPE1 td + td{
	border-left: 1px solid #e1e1ea;
	
}
.list_TYPE2{
	width:100%;
}
.list_TYPE2 td{
	height:100px;
	border-bottom:1px solid #e1e1ea;
}
.list_TYPE2 img{
	margin:10px;
	float:left;
}