@charset "UTF-8";
.list_TYPE1{
	width:100%;
	table-layout: fixed;
}
.list_TYPE1 *{
	vertical-align: middle;
}
.list_TYPE1 tr:first-child td{
	border-bottom: 1px solid #e1e1ea;
	height:30px;	
}
.list_TYPE1 tr:last-child td{
	border-top: 1px solid #e1e1ea;
	height:30px;
}
.list_TYPE1 tr td:nth-child(2) a{
	display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    margin:0;
}