@charset "UTF-8";


header{
	transition: height 1.5s;
	background:white;
	min-height:130px;
}
header.viewMode{
	height:500px;
}
.logo{
	height:129px;
	background:coral;
}
header div.result{
	width:1400px;
	position:relative;
}
header div.result>pre{
	border:0;
	background:white;
	text-align:left;
	height:310px;
	overflow-x:hidden;
	overflow-y:auto;
	margin-bottom:0;
}
header div.result>button{
	height:40px;
	width:40px;
	margin:10px;
	border:1px solid #eee;
	border-radius:30px;
}
header div.result>button:hover{
	border-color:skyblue ;
}
header div.result>button:active{
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.03) inset;
}
.base_ {
	height: 1220px;
}

.main_sub {
	position: absolute;
	width: 924px;
	height: 473px;
}

.Board_List {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 388px;
	background-color: white;
	border: 1px solid #e1e1ea;
}

.Search {
	bottom: 0px;
}

.login {
	width: 441px;
	height: 454px;
	margin-bottom: 10px;
	position: relative;
	left: 10px;
	top: 10px;
	background-color: #323640;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2) inset;
}
.login *{
	vertical-align: middle;
}
.googleLogin{
	color: white;
    width: 353px;
    height: 60px;
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.5em;
}
.googleLogin:hover:not(:active){
	box-shadow: 0 0 20px 5px rgba(255,255,255,0.1) inset;
}
.googleLogin:active{
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.5) inset;
    border-color: rgba(0,0,0,0.5);
    color: black;
}
#remember-me{
	margin:0;
}

.login div.id, .login div.password{
	width: 353px;
	height: 60px;
	position: relative;
	left: 44px;
	top: 40px;
	margin-bottom: 20px;
	background-color: #8fc1c1;
}

.login button#login {
	width: 353px;
	height: 60px;
	position: relative;
	top: 80px;
	background-color: #8fc1c1;
}

.login div.id:focus, .login div.id:hover, .login div.password:focus, .login div.password:hover {
	outline: white solid 1px;
}

.login div.id input, .login div.password input {
	width: 90%;
	padding-top: 18px;
	height: 42px;
	text-align: left;
	vertical-align: middle;
}

.login button#login:active {
	box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5) inset;
	outline: white solid 1px;
}

.login button#login:hover {
	outline: white solid 1px;
}

.feed_sub {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60%;
}

.feed_sub_main {
	position: absolute;
	width: 66%;
	height: 100%;
	background-color: white;
	border: 1px solid #e1e1ea;
}

.feed_sub_side {
	position: absolute;
	right: 0;
	width: 34%;
	height: 100%;
	padding-left: 15px;
	box-sizing: border-box;
}

.feed_sub_side div {
	width: 100%;
	height: 234px;
	background-color: white;
	border: 1px solid #e1e1ea;
}

#side1 {
	margin-bottom: 15px;
	vertical-align: top;
}

#side2 {
	margin-bottom: 15px;
	vertical-align: middle;
	overflow:hidden;
}
#side2 img{
	width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

#side3 {
	vertical-align: bottom;
}

.spanBtn:hover {
	cursor: pointer;
}

#editor {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#editor * {
	text-align: left;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main_sub_sideBtn{
	position:absolute;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
@media screen and (min-width: 1600px) {
	.main_sub_sideBtn{
		left:50%;
		transform:translate(-775px);
	}
	header div.result{
		left:50%;
		transform:translate(-50%);
	}
}
@media screen and (max-width: 1598px) {
	.main_sub_sideBtn{
		left:24px;
	}
	header div.result{
		left:99px;
	}
}