@charset "UTF-8";


.profile_back{
	width:250px;
	background:white;
	float:left;
	position:fixed;
	z-index:98;
	min-height:100%;
	box-shadow: 0 0 30px 20px rgba(60,64,66,0.00);
	border-right: 1px solid #ddd;
}

.profile{
	width:200px;
	height:680px;
	margin:25px;
	margin-top:70px;
	position:absolute;
	z-index:99;
}

.profile #profile_image{
	width:150px;
	height:150px;
	border-radius:77px;
	border:4px solid white;
	margin:auto;
	margin-bottom: 15px;
	position: relative;
	background:coral;
	box-shadow: 0 0 30px 20px rgba(60,64,66,0.05);
}
#profile_image button{
	overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: 4px solid white;
    background: white;
    border-radius: 50%;
    position: relative;
    top: -4px;
    left: -4px;
    z-index: 0;
}
#profile_image label{
	position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: white;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 1;
}
#profile_image>label>svg{
	color: #aaa;
    position: absolute;
    height:1.5em;
    width:1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#profile_image label input{
	display:none;
}
#profile_image>button>svg{
	color: white;
    position: absolute;
    height:5em;
    width:5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.profile table.inform{
	width:100%;
	position:relative;
}
.profile table.inform *{
	text-align:left;
}
.profile table.inform .title{
	color:#bbb;
	font-size:0.8em;
	padding-top:10px;
}
.background{
	width:100%;
	min-height:1300px;
	background:inherit;
	overflow:hidden;
}
.toolbar{
	position:absolute;
	padding-left:250px;
	height:60px;
	width:100%;
	z-index:97;
	background:white;
	box-shadow: 0 0 30px 20px rgba(60,64,66,0.02);
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
}
.toolbar button{
	position: relative;
	top: 10%;
	height: 80%;
	width: 48px;
	font-size: 30px;
	margin-left:10px;
	margin-right:10px;
	border-radius: 0.1em;
}
.toolbar button:hover:not(:active){
	border:3px solid skyblue;
}
.toolbar button:active{
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2) inset;
}
.toolbar button>svg{
	margin-top:50%;
	transform:translate(0,-50%);
}
.workSpace{
	position:relative;
	padding-left:250px;
	padding-top:60px;
	height:100%;
	width:100%;
}
footer{
	position:fixed;
	bottom:-212.5px;
	z-index:100;
	transition:bottom 1.5s;
	width:100%;
}
footer:hover{
	position:fixed;
	bottom:-50px;
	transition:bottom 1.5s 3s;
}
.map{
	width:800px;
	height:800px;
	margin:auto;
	border-spacing: 15px;
	border-collapse: separate;
	margin-top:15px;
	margin-bottom: 150px;
}
.map>tbody>tr>td{
	width: 50%;
	border: 1px solid #ddd;
	background: white;
	padding:40px;
	position:relative;
}
.map>tbody>tr:last-child>td:last-child{
	padding:1%;
}
.map>tbody>tr>td{
	text-align:left;
	vertical-align:top;
	height: 247px;
}
.map input, .map select{
	border:1px solid #ccc;
	min-width:70%;
	height:30px;
	margin-top: 15px;
}
#map{
	width:100%;
	height:100%;
}
.map>tbody>tr>td>span{
	position:absolute;
	top:40px;
	left:40px; 
	transform:translate(0,-100%);
}
.map input[type=checkbox]{
	margin:0;
	min-width:0;
	height:14px;
	width:14px;
	border:1px solid #eee;
	background:white; 
}
.map>tbody>tr:nth-child(2)>td:first-child{
	vertical-align:middle;
	line-height:30px;
}
.btn_area_btm{
	position:absolute;
	bottom:0;
	left:0;
	height:20%;
	width:100%;
	padding:5%;
	padding-top:0;
	margin-top:10px;
}
.btn_area_btm button{
	float:left;
	border:1px solid #eee;
	height:30px;
	padding:0 10px 0 10px;  
}
.btn_area_btm button:active{
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.02) inset;
	outline: 1px solid skyblue; 
}
.profile_nav button{
	margin: 2% 0 2% 0;
	width: 100px;
	height: 24px;
	font-size:11px;
	color:#aaa;
	text-align:center;
	border-radius: 12px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.03);
}
.profile_nav button:hover, .profile_nav button:active{
	border-color: skyblue;
}
.profile_nav button:active{
	border-color: skyblue;
	box-shadow: 0 0 10px 1px skyblue;
}