<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.coral.www.mappers.FileMapper">
  	<insert id="insert" parameterType="com.coral.www.File.FileDTO">
  	INSERT INTO 
  	AF(AF_BNO,AF_KEYNAME,AF_NAME,AF_SIZE,AF_ORDER,AF_PATH)
  	VALUES(#{bno},#{keyname},#{name},#{size},#{order},#{path})
  	</insert>
  	<update id="update" parameterType="com.coral.www.File.FileDTO">
  	UPDATE AF  
  	SET  
  	AF_KEYNAME = #{keyname}, 
  	AF_NAME = #{name}, 
  	AF_SIZE = #{size}, 
  	AF_ORDER = #{order}, 
  	AF_PATH = #{path}
  	WHERE AF_BNO = #{bno}
  	</update>
  	<select id="selectList" resultType="com.coral.www.File.FileDTO">
  	SELECT 
  	AF_BNO AS "bno",AF_KEYNAME AS "keyname",AF_NAME AS "name",AF_SIZE AS "size",AF_ORDER AS "order",AF_PATH AS "path" 
  	FROM AF
  	WHERE AF_BNO = #{bno} 
  	ORDER BY "order"
  	</select>
  </mapper>