<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.coral.www.mappers.LectureMapper">
  	<!--  -->
  	<select id="totalCL" resultType="int" parameterType="com.coral.www.Lecture.LectureDTO">
  		select count(*) from CLASSLIST where CL_COUNT > 0 OR CL_DELETED = 0
  			<if test="cl_no!=null">
				AND (
				   CL_NO LIKE '%'||#{cl_no}||'%'
				OR CL_UID LIKE '%'||#{id}||'%'
				OR CL_TITLE LIKE '%'||#{cl_title}||'%'
				OR CL_TAG LIKE '%'||#{cl_tag}||'%'
				OR CL_DESCRIPTION LIKE '%'||#{cl_description}||'%'
				)
			</if>
  	</select>
  	
  	<!--  -->
  	<select id="listPageCL" parameterType="com.coral.www.Lecture.LectureDTO" resultType="com.coral.www.Lecture.LectureDTO" >
  		SELECT 
  			CL_NO as "cl_no", 
  			CL_TITLE AS "cl_title", 
  			CL_UID AS "id",
  			CL_PATH AS "cl_path", 
  			CL_RECOMMENDS AS "recommends",
  			CL_VIEWS AS "views",
  			CL_REGDATE AS "regdate",
  			CL_UPPDATE AS "upddate"
		FROM (
			SELECT  (RANK() OVER(ORDER BY CL_NO DESC))ROWNUMS, CLASSLIST.* 
			FROM CLASSLIST 
			WHERE 
				(CL_COUNT > 0 OR CL_DELETED = 0)
				<if test="cl_no!=null">
				AND (
				   CL_NO LIKE '%'||#{cl_no}||'%'
				OR CL_UID LIKE '%'||#{id}||'%'
				OR CL_TITLE LIKE '%'||#{cl_title}||'%'
				OR CL_TAG LIKE '%'||#{cl_tag}||'%'
				OR CL_DESCRIPTION LIKE '%'||#{cl_description}||'%'
				)
				</if>
			ORDER BY 
				CL_NO DESC) 
		<![CDATA[
		WHERE 
			ROWNUMS > ((#{page}-1)*#{amount}) and ROWNUMS <= (#{page}*#{amount})
		]]>
  	</select>
  	
  	<!--  -->
  	<select id="newCLno" resultType="java.lang.String">
  		select 'C'||LPAD(C_SEQ.NEXTVAL,8,0) from dual
  	</select>
  	
  	<!--  -->
  	<insert id="create" parameterType="com.coral.www.Lecture.LectureDTO">
  		INSERT INTO 
  				CL(
  					CL_NO,
  					CL_TAG,
  					CL_TITLE,
  					CL_DESCRIPTION,
  					CL_UID
  				) 
  				VALUES(
  					#{cl_no},
  					#{cl_tag},
  					#{cl_title},
  					#{cl_description},
  					#{id}
  				)
  	</insert>
  	
  	<!--  -->
  	<select id="description" resultType="com.coral.www.Lecture.LectureDTO">
  				SELECT
  					CL_NO AS "cl_no",
  					CL_TAG AS "cl_tag",
  					CL_TITLE AS "cl_title",
  					CL_DESCRIPTION AS "cl_description",
  					CL_UID AS "id"
  				FROM CLASSLIST
  				WHERE (CL_COUNT > 0 OR CL_DELETED = 0) AND CL_NO = #{cl_no}
  	</select>
  	
  	<!--  -->
  	<update id="updateCL" parameterType="com.coral.www.Lecture.LectureDTO">
  		UPDATE CL SET 
  			CL_TAG = #{cl_tag},
  			CL_TITLE = #{cl_title},
  			CL_DESCRIPTION = #{cl_description}
  		WHERE 
  			CL_UID = #{id} AND
  			CL_NO = #{cl_no}
  	</update>
  	
  	<!--  -->
  	<select id="CLExit" resultType="int" parameterType="com.coral.www.Lecture.LectureDTO" >
  		SELECT count(*) FROM CL WHERE CL_UID=#{id} AND CL_NO=#{cl_no}
  	</select>
  	
  	<!--  -->
  	<select id="LExit" resultType="int" parameterType="com.coral.www.Lecture.LectureDTO" >
  		SELECT count(*) FROM CL LEFT OUTER JOIN LE ON CL_NO = LE_CLNO WHERE CL_UID = #{id} AND LE_NO = #{no} AND CL_NO = #{cl_no}
  	</select>
  	
  	<!--  -->
  	<select id="viewCntUpd">
  		UPDATE LE SET LE_VIEWS = LE_VIEWS + 1 WHERE LE_NO = #{no} 
  	</select>
  	
  	<!--  -->
  	<update id="likeCntUpd" parameterType="com.coral.www.like.LikeDTO" >
  		UPDATE LE SET LE_RECOMMENDS = LE_RECOMMENDS +(#{div}) WHERE LE_NO = #{no}
  	</update>
  	
  	<!--  -->
  	<select id="total" resultType="int" >
  		select count(*) from LE where LE_STATUS = 'P' AND LE_CLNO = #{cl_no}
  	</select>
  	
  	<!--  -->
  	<select id="listPage" parameterType="com.coral.www.Lecture.LectureDTO" resultType="com.coral.www.Lecture.LectureDTO" >
  		SELECT 
  			LE_CLNO as "cl_no",
  			LE_NO as "no", 
  			LE_TITLE AS "title",
  			LE_RECOMMENDS AS "recommends",
  			LE_VIEWS AS "views",
  			LE_REGDATE AS "regdate",
  			LE_UPDDATE AS "upddate",
  			LE_PATH AS "cl_path"
		FROM (SELECT (RANK() OVER(ORDER BY LE_NO DESC))ROWNUMS,  LectureList.* 
			FROM LectureList 
			WHERE 
				LE_STATUS = 'P' AND LE_CLNO = #{cl_no}
			ORDER BY 
				LE_NO DESC) 
		<![CDATA[
		WHERE 
			ROWNUMS > ((#{page}-1)*#{amount}) and ROWNUMS <= (#{page}*#{amount})
		]]>
  	</select>
  	
  	<!--  -->
  	<select id="detail" parameterType="com.coral.www.Lecture.LectureDTO" resultType="com.coral.www.Lecture.LectureDTO" >
  		SELECT 
  			LE_CLNO as "cl_no",
  			LE_NO as "no", 
  			LE_TITLE AS "title",
  			LE_CONTENTS as "contents",
  			LE_RECOMMENDS AS "recommends",
  			LE_VIEWS AS "views",
  			LE_REGDATE AS "regdate",
  			LE_UPDDATE AS "upddate",
  			LE_ATTACHMENT AS "attachment",
  			LE_STATUS AS "status",
  			CL_UID AS "id"
		FROM LE LEFT OUTER JOIN CL ON CL_NO = LE_CLNO
		WHERE LE_NO=#{no} AND LE_STATUS='P'
  	</select>
  	
  	<!--  -->
  	<select id="newLEno" resultType="java.lang.String">
  		select 'L'||LPAD(L_SEQ.NEXTVAL,8,0) from dual
  	</select>
  	
  	<!--  -->
  	<insert id="write" parameterType="com.coral.www.Lecture.LectureDTO">
  		INSERT INTO 
  				LE(
  					LE_CLNO,
  					LE_NO,
  					LE_TITLE,
  					LE_CONTENTS,
  					LE_ATTACHMENT,
                    LE_STATUS
  				) 
  				VALUES(
  					#{cl_no},
                    #{no},
  					#{title},
  					#{contents},
  					#{attachment},
  					#{status}
  				)
  	</insert>
  	
  	<!--  -->
  	<update id="update" parameterType="com.coral.www.Lecture.LectureDTO">
  		UPDATE LE SET 
  			LE_UPDDATE = SYSDATE
  			<if test="title!=null">
  			,
  			LE_TITLE = #{title}
  			</if>
  			<if test="contents!=null">
  			,
  			LE_CONTENTS = #{contents}
  			</if>
  			<if test="attachment!=' '">
  			,
  			LE_ATTACHMENT = #{attachment}
  			</if>
  			,
            LE_STATUS = #{status}
  		WHERE 
  			LE_NO = #{no} AND
  			LE_STATUS != 'N'
  	</update>
  	
  	<!--  -->
  	<update id="deleteAll">
  		UPDATE LE SET 
  			LE_STATUS = 'N'
  		WHERE 
  			LE_STATUS != 'N' AND
  			LE_CLNO IN (SELECT CL_NO FROM CL 
  			WHERE CL_UID=#{id})
  	</update>
  	
  	<!--  -->
  	<update id="deleteLE">
  		UPDATE LE SET 
  			LE_STATUS = 'N'
  		WHERE 
  			LE_STATUS != 'N' AND
  			LE_CLNO = #{cl_no}
  	</update>
  	
  	<!--  -->
  	<delete id="deleteCL" parameterType="com.coral.www.Lecture.LectureDTO">
  				delete
  				FROM CL
  				WHERE CL_NO 
  				<choose>
  					<when test="cl_no != null">
  					= #{cl_no} AND 0 IN (SELECT CL_COUNT+CL_DELETED FROM CLASSLIST WHERE CL_NO = #{cl_no})
  					</when>
  					<otherwise>
  					IN (SELECT CL_NO FROM CLASSLIST WHERE CL_COUNT = 0 AND CL_DELETED = 0 AND CL_UID = #{id})
  					</otherwise>
  				</choose>
  	</delete>
  </mapper>